* {
  font-family: "Roboto";
}
body,
html {
  position: relative;
  min-height: 100vh;
}

.ram {
  border: 1px solid red;
}

.ram2 {
  border: 1px solid rgb(8, 0, 255);
}

.form-control:focus {
  border-color: #0055ff;
  box-shadow: inset 0 0px 0px rgba(255, 0, 0, 0.075), 0 0 3px rgba(0, 255, 60, 0.353);
}
