.discover {
  color: rgb(161, 161, 161);
}

.discover:hover {
  background-color: #007bfffb;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.active {
  background-color: #007bffcc;
  color: rgb(255, 255, 255);
}
