.footer {
  background-color: #f7f7f7;
  text-align: center;
  padding: 18px 0;
  position: absolute;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  color: rgb(171, 171, 171);
  border-top: 1px solid #ccc;
}
