.rating {
  font-weight: 400;
}

.item__text {
  font-size: 1em;
  color: rgb(121, 121, 121);
}

.scroll__up {
  color: rgb(168, 164, 164);
  cursor: pointer;
}

.detail__container {
  min-height: 380px;
}
