pre {
  white-space: pre-wrap;
  font-family: "Roboto";
  font-size: 1rem;
}

.arrow__down {
  font-size: 1.4rem;
  color: rgb(154, 154, 154);
}

.arrow__down:hover {
  cursor: pointer;
  color: #535353;
}

.people__link:hover {
  text-decoration: none;
}

.people__image {
  object-fit: cover;
  height: 240px;
}

.people__title {
  font-size: 0.9em;
  color: rgb(62, 62, 62);
}

.people__subtitle {
  font-weight: 500;
  font-size: 0.8em;
  margin: 0 0 2px 3px;
  color: rgb(153, 153, 153);
}
