.imdb__image {
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.imdb__back {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.imdb__container:hover .imdb__image {
  filter: brightness(35%);
}

.imdb__container:hover .imdb__back {
  opacity: 1;
}

.imdb__text {
  width: 190px;
  color: white;
  font-size: 20px;
}

.detail__container {
  animation: fadeIn ease 1.5s;
}

.detail__box {
  box-shadow: 1px 0px 3px 0px rgb(214, 214, 214);
}

.detail__box img:hover {
  filter: brightness(130%);
}

.personal__title {
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
}

.personal__text {
  font-size: 0.8rem;
  color: grey;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.toggle__link {
  cursor: pointer;
}
