.slider__image {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
  transition: "left 1s";
  filter: brightness(60%);
}

.slider__container {
  height: 60vh;
}

.slider__genre {
  height: 0.6em;
  width: 0.1em;
  background-color: #ccc;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.slider__genre:last-child {
  background-color: rgba(204, 204, 204, 0);
}
